.company-tag {
  &__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 12px;
    -webkit-box-orient: vertical;
    transition: 0.3s ease;
  }

  &__desctiption--active {
    -webkit-line-clamp: unset;
  }

  &__show {
    font-weight: 600;
    cursor: pointer;
  }
}
