@import "@/mixins.scss";

.container {
  position: relative;
  width: 100%;
  z-index: 1;
  padding-right: var(--spacing-container);
  padding-left: var(--spacing-container);
  margin-right: auto;
  margin-left: auto;
}

.container {
  @include media-breakpoint-down(sm) {
    --spacing-container: 10px;
  }
  @include media-breakpoint-between(sm, xl) {
    --spacing-container: 30px;
  }

  @include media-breakpoint-up(xl) {
    --spacing-container: 50px;
  }
}

.container {
  @include media-breakpoint-between(sm, md) {
    max-width: $breakpoints-sm;
  }

  @include media-breakpoint-between(md, lg) {
    max-width: $breakpoints-md;
  }

  @include media-breakpoint-between(lg, xl) {
    max-width: $breakpoints-lg;
  }

  @include media-breakpoint-between(xl, xxl) {
    max-width: $breakpoints-xl;
  }

  @include media-breakpoint-up(xxl) {
    max-width: $breakpoints-xxl;
  }
}
