@import "@/mixins.scss";

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  &__title-h1 {
    @include media-breakpoint-down(md) {
      font-size: 24px;
    }
    @include media-breakpoint-between(md, lg) {
      font-size: 32px;
    }
    @include media-breakpoint-between(lg, xl) {
      font-size: 46px;
    }
    @include media-breakpoint-between(xl, xxl) {
      font-size: 52px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 64px;
    }
  }
}
