@import "@/mixins.scss";

.company {
  padding-top: 123px;
  position: relative;

  &__wrapper {
    position: relative;
    display: grid;

    @include media-breakpoint-down(lg) {
      gap: 20px;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 2fr 1fr;
      gap: 20px;
    }

    @include media-breakpoint-up(xxl) {
      gap: 50px;
    }
  }
}
