.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &__content-wrapper {
    border-radius: 100px;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.156);
  }

  &__name {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
  }

  &--load {
    pointer-events: none;
    user-select: none;

    .services-item__name {
      font-size: 16px;
      font-weight: 600;
      background-color: var(--skeleton);
      color: var(--skeleton);
      border-radius: 5px;
    }

    .services-item__content-wrapper {
      border-radius: 100px;
      padding: 20px;
      background-color: var(--skeleton-dark);
      text-align: center;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.156);
      animation: pulse 0.5s infinite alternate;
    }
  }
  @keyframes pulse {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}
