@import "@/mixins.scss";

.subtitle {
  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
  @include media-breakpoint-between(md, lg) {
    font-size: 16px;
  }

  @include media-breakpoint-between(lg, xxl) {
    font-size: 20px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 24px;
  }

  &__emphas {
    font-weight: 500;

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
    @include media-breakpoint-between(md, lg) {
      font-size: 18px;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: 22px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 27px;
    }
  }
}
