@import "@/mixins.scss";

.company-data {
  &__img-wrapper {
    width: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      height: 250px;
    }

    @include media-breakpoint-up(lg) {
      height: 400px;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__verification {
    width: max-content;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid var(--black);
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 0;
  }

  &__show-all {
    cursor: pointer;
    color: #ff6a96;
    font-weight: 600;
  }

  &__service {
    h2 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    }
  }

  h2 {
    padding-bottom: 20px;
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__services-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__tag-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__tag-description {
    font-size: 12px;
  }

  &__tag {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 14px;
  }

  &__tag-name {
    max-width: 80%;
    font-size: 18px;
  }

  &__tag-price {
    font-size: 18px;
  }

  &__example-works {
    width: 100%;
    min-width: 0;
  }

  &__tag-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: 0.3s ease;
  }

  &__tag-desctiption--active {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    line-clamp: 12;
    -webkit-box-orient: vertical;
  }
}
